header {
    text-align: center;
color: #1a40bd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: rgb(200, 186, 131);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #1a40bd;
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 15px;
    background: #000000;
    color: white;
}
